@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

h1,h2,h3,h4,h5,h6{
    color: #272D4E;
}
p{
    color: #94A2B3;
}
a{
    color: #299EF3;
    text-decoration: none;
    list-style-type: none;
}
/*nav*/
.navbar-nav{
    margin-left: 100px;
}
#log{
    color: #272D4E;
}

.bi-search{
    margin-left: 30px;
}

#search-btn{
    background-color: #7854F7;
    color: white;
    border: 0px ;
}

#search-btn:hover{
    border-color: #9381FF;
    background-color: #9381FF;
    color: #fff; 
}

/* section 1 */

#section-1{
    background: linear-gradient(#E7F0FF, #ffffff);
}

.card-text{
    color:#94A2B3;
    font-size: 10pt;
}

.s1-btn{
    background-color: #5F37EF;
    border: none;
}

.card-body{
    padding: 0px 75px 0px 75px;
}

.card-link{
    color: #299EF3;
    text-decoration: none;
}

/* section 2 */

.card-title{
    color: #272D4E;   
}

/* section 3 */

.section-3{
    background:  url(ui-kit/bg.png) no-repeat;
    background-size: 100% 100%;
}
.img-section-3{
    width: 60%;
}
.title-section-3{
    color: white;
}
.text-section-3{
    color: white;
}
.s3-btn{
    
    background-color:#70C217;
    font-size: 10pt;
}


/* section 4 */

.section-4{
    background: linear-gradient( #ecf0fd00, #ecf0fd79, #ECF0FD,#ecf0fd79, #ecf0fd00);
}

.carousel-control-next-icon{
   color: brown;
}

/* section 6 */

.section-6{
    background-color: #5F37EF;
    height: 261px;
    font-size: 1.5em;
}

.cta-btn{
    background-color: #5F37EF;
    text-transform: uppercase;
}

.cta-btn:hover{
    background-color: white;
    color: #5F37EF;
}

/* section 7*/

.section-7{
    background-color: #7854F7;
    padding-top: 5%;
    padding-bottom: 5%;
}

/* footer */
footer{
    background-color: #7854F7;
}

.groupe{
    color: white;
}

.liste{
    list-style-type: none;
}

.lien{
    color: white;
} 

.lien-footer{
    color: #94A2B3;
}