#search-btn{
    background-color: #7854F7;
    color: white;
    border: 0px ;
}

#search-btn:hover{
    border-color: #9381FF;
    background-color: #9381FF;
    color: #fff;
    
}

.navbar-nav{
    margin-left: 100px;
}

#log{
    color: #272D4E;
    margin-right: 30px;
    text-decoration: none;
    font-weight: bolder;
}

.bi-search{
    margin-left: 30px;
}

#row-1{
    margin-top: 100px;
}